@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TradeWinds';
  src: url('/src/assets/fonts/Trade_Winds/TradeWinds-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Acme';
  src: url('/src/assets/fonts/Acme/Acme-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'Playpen_Sans_Bold';
  src: url('/src/assets/fonts/Playpen_Sans/static/PlaypenSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

.textLogo {
  -webkit-text-stroke: 1px white;
}
